:root { 
--white_A700_7f:#ffffff7f; 
--black_900_7f:#0000007f; 
--cyan_300_99:#5dc5e699; 
--blue_A400:#337fff; 
--red_600:#ec3333; 
--light_green_A700:#6dd61a; 
--deep_purple_400:#893bd1; 
--blue_A200:#348af7; 
--red_400:#e65d5d; 
--green_A700:#0dbe5e; 
--yellow_800:#f6af24; 
--pink_A700:#c21975; 
--gray_200_01:#e8e8e8; 
--gray_200_02:#ebebeb; 
--deep_orange_500:#ff5812; 
--purple_A200:#d35de6; 
--red_A700:#ff0000; 
--gray_800_7f:#4040407f; 
--gray_200_03:#f0f0f0; 
--teal_A700:#00bf86; 
--gray_400:#bdbdbd; 
--orange_A200:#f6a936; 
--blue_gray_100:#d7d7d7; 
--blue_700:#3776d4; 
--orange_A200_01:#f29d38; 
--orange_A200_02:#e09b3d; 
--gray_200:#eaeaea; 
--black_900_0c:#0000000c; 
--gray_400_05:#c1c1c1; 
--gray_400_01:#c4c4c4; 
--gray_400_02:#c3c3c3; 
--white_A700_bf:#ffffffbf; 
--gray_100_01:#f4f4f4; 
--gray_400_03:#c6c6c6; 
--gray_400_04:#cacaca; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--blue_gray_100_01:#d9d9d9; 
--red_900:#9e1111; 
--light_blue_A200:#33ccff; 
--blue_gray_100_02:#d3d3d3; 
--deep_purple_500:#7024c4; 
--blue_gray_100_03:#cecece; 
--indigo_A200:#5b4fe9; 
--blue_gray_100_04:#d6d6d6; 
--red_400_01:#c74c4d; 
--pink_400_02:#f75274; 
--gray_50:#fafafa; 
--pink_400_01:#d53692; 
--black_900:#000000; 
--gray_500_01:#9a9a9a; 
--gray_500_03:#adadad; 
--gray_500_02:#a0a0a0; 
--pink_400:#e2576f; 
--purple_400:#8f39ce; 
--gray_700:#686363; 
--gray_500:#a5a5a5; 
--blue_700_01:#3675d4; 
--amber_600:#fdb201; 
--gray_900:#110d3c; 
--gray_900_01:#14103d; 
--amber_200:#fbe18a; 
--orange_300:#fcbb45; 
--gray_300:#dedede; 
--gray_300_02:#dddddd; 
--gray_300_01:#e0e0e0; 
--gray_100:#f7f7f7; 
--cyan_300:#5dc5e6; 
}